default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [
          # 1. Define your allowed scopes here (comma-separated, no spaces)
          # "--scopes", "api,ui,core,db,config",
          # 2. List your allowed types (as positional arguments)
          "feat", "fix", "docs", "style", "refactor", "perf", "test", "build", "ci", "chore", "revert"
        ]